
*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.user
*.suo
Thumbs.db

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*

bin/*
obj/*
bin/*
obj/*

*/Resource.designer.cs
*/*/Resource.designer.cs
*/*/*/Resource.designer.cs